.ButtonWrapper {

    text-align: center;
    margin-top: 20px;
  
    button {
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      background-color: #1976d2;
      border-radius: 4px;
      text-transform: uppercase;
      padding: 10px 20px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #165ea5;
      }
    }
}

